/*list page styles*/
footer {
    clear:both;
    border-top: 1px solid black;
    padding: 1em;
}
.left {
    display: inline-block;
}
.right {
    float: right;
    padding-top: 1.5em;
}
.page-viewer {
    list-style: none;
}
.page-viewer li {
    display: inline-block;
    padding-right: 1.5em;
}
/*table styling*/
.table {
    display: table;
}
.table-head {
    display: table-header-group;
}
.table-heading {
    display: table-cell;
    font-weight: bold;
    color: white;
    background-color: #222222;
    padding: 0.5em 0.5em;
    border: 1px solid #222222;
    text-align: center;
}
.table-body {
    display: table-row-group;
}
.table-row {
    display: table-row;
}
.table-cell {
    display: table-cell;
    padding: 0.5em 0.5em;
    border: 1px solid #999999;
    text-align: center;
}
.button {
    display: inline-block;
    padding-right: 1em;
    padding-left: 0;
}
.button:last-child {
    padding-right: 0;
}
/*form stuff*/
.form-field {
    padding-bottom: 1em;
}
.form-label {
    padding-right: 1em;
}
.form-label-align {
    vertical-align: top;
}
/*buttons*/
#addbtn a {
    background-color:green;
}
.button-container {
    margin-top: 2em;
}
.add {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    border: none;
    margin-right: 1.5em;
}
.delete {
    background-color: #f44336;
    color: white;
    padding: 0.5em 1em;
    text-align: center;
    border: none;
    margin-right: 1.5em;
}
/*Generated page styles*/
.page-author {
    font-size: 0.8em;
}
.main {
    border:1px solid black;
    padding: 1em;
    margin-bottom: 1em;
}
.col1 {
    border: 1px solid black;
    float: left;
    width: 45%;
    padding: 1em;
    margin-bottom:3em;
}
.col2 {
    border: 1px solid black;
    float: right;
    width: 45%;
    padding: 1em;
    margin-bottom: 3em;
}